In [1]:
import pandas as pd

In [2]:
#Cross Tabulation merupakan quick dataset dari pivot table

In [4]:
#tidak bisa menggunakan StringIO, jadi menggunakan StringIO
from io import StringIO

In [5]:
data="""\
Sample Animal Intelligence
1. Dog Smart
2. Dog Smart
3. Cat Dumb
4. Cat Dumb
5. Dog Dumb
6. Cat Smart """

In [6]:
#penggunaan read_table sudah deprecated dan diusulkan untuk menggunakan read_csv
#akan tetapi, seharusnya read_csv tidak berjalan dengan begitu baik, sebab read_csv hanya bisa menggunakan format csv (?)
dframe=pd.read_table(StringIO(data),sep='\s+')

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [7]:
#mari kita coba
#tidak begitu dijelaskan mengenai stringio, bahkan parameter \s+ juga tidak dikatahui
#tapi jika melihat dokumentasi, \s+ menandakan bahwa separator merupakan whitespace atau string dari tiap data
#hal itu terbukti jika kita melihat data
dframe2=pd.read_csv(StringIO(data), sep='\s+')

In [8]:
#ternyata bisa
dframe2

   Sample Animal Intelligence
0     1.0    Dog        Smart
1     2.0    Dog        Smart
2     3.0    Cat         Dumb
3     4.0    Cat         Dumb
4     5.0    Dog         Dumb
5     6.0    Cat        Smart

In [9]:
#method crosstab mirip seperti pivot table tapi jauh lebih simpel dan singkat
#method crosstab parameter pertama merupakan objek yang mau kita lihat atau kelola
#sedangkan untuk parameter kedua merupakan pengukurnya, dalam hal in Intelligence
#tabel crosstab juga memiliki kolom dan baris All untuk melihat semua 
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6