In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df_left = DataFrame({'key':['X','Y','Z','X','Y'], 
                     'data': range(5)})

In [3]:
df_left

  key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [5]:
df_right = DataFrame({'group_data':[10,20]}, index=['X','Y'])

In [6]:
df_right

   group_data
X          10
Y          20

In [7]:
#belum begitu mengerti maksudnya
#masih belum tahu juga eksperimen yang baik kayak gimana
#yang saya mengerti di sini adalah: left_on itu adalah df_left jadi berpacu pada 'key' yang ada di df_left
#untuk melihat value yang sama dari 'key' yang ada di df_left, method merge() punya parameter right_index
#right_index menjadi acuan untuk df_right
pd.merge(df_left, df_right, left_on='key',right_index=True)

  key  data  group_data
0   X     0          10
3   X     3          10
1   Y     1          20
4   Y     4          20

In [10]:
df_right2 = DataFrame({'group_data':[10,20], 'key': ['X','Y']})
df_right2

   group_data key
0          10   X
1          20   Y

In [18]:
#command ini error karena right_index memiliki tipe data integer, tidak sama seperti value dari 'key' df_left
#pd.merge(df_left, df_right2, left_on='key',right_index=True)

#command di bawah tidak bisa juga, karena? 
#asumsi: karena tidak ada pasangan yang kanannya
#pd.merge(df_left, df_right2, left_on='key')

#command di bawah bisa, karena command di bawah merupakan command seperti biasanya
#pd.merge(df_left, df_right2,on='key')

#asumsi pada command kedua benar. command tersebut tidak bisa karena tidak ada pasangan right_on nya
pd.merge(df_left, df_right2, left_on='key', right_on='key')

  key  data  group_data
0   X     0          10
1   X     3          10
2   Y     1          20
3   Y     4          20

In [24]:
df_right3 = DataFrame({'group_data':[10,20], 'key': ['X','Y']}, index=['X','Y'])
df_right3

   group_data key
X          10   X
Y          20   Y

In [25]:
df_left

  key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [26]:
df_right3

   group_data key
X          10   X
Y          20   Y

In [27]:
#agak membingungkan 
pd.merge(df_left, df_right3, left_on='key',right_index=True)

  key key_x  data  group_data key_y
0   X     X     0          10     X
3   X     X     3          10     X
1   Y     Y     1          20     Y
4   Y     Y     4          20     Y

In [28]:
df_right4 = DataFrame({'group_data':[10,20], 'key': ['A','B']}, index=['X','Y'])

In [30]:
df_right4

   group_data key
X          10   A
Y          20   B

In [29]:
#key_x ada untuk memperjelas aja, index tidak tertulis juga karena sudah disimpan secara implisit (?)
#merge tetap harus belajar lagi
pd.merge(df_left, df_right4, left_on='key',right_index=True)

  key key_x  data  group_data key_y
0   X     X     0          10     A
3   X     X     3          10     A
1   Y     Y     1          20     B
4   Y     Y     4          20     B

In [31]:
df_left_hr = DataFrame({'key1': ['SF','SF','SF','LA','LA'], 
                        'key2': [10,20,30,20,30],
                        'data_set':np.arange(5.)})
df_left_hr

  key1  key2  data_set
0   SF    10       0.0
1   SF    20       1.0
2   SF    30       2.0
3   LA    20       3.0
4   LA    30       4.0

In [33]:
df_right_hr = DataFrame(np.arange(10).reshape(5,2), 
                       index=[['LA','LA','SF','SF','SF'], 
                             [20,10,10,10,20]],
                       columns=['col_1','col_2'])
df_right_hr

       col_1  col_2
LA 20      0      1
   10      2      3
SF 10      4      5
   10      6      7
   20      8      9

In [34]:
#menjadikan index dari yang kanan sebagai acuan
#karena ada dua key, maka harus melihat kedua key yang sama-sama dimiliki oleh kedua dframe yang bersangkutan
pd.merge(df_left_hr, df_right_hr, left_on=['key1','key2'], right_index=True)

  key1  key2  data_set  col_1  col_2
0   SF    10       0.0      4      5
0   SF    10       0.0      6      7
1   SF    20       1.0      8      9
3   LA    20       3.0      0      1

In [35]:
#tentu saja tidak bisa karena right_index punya dua level jadi tidak kebaca 
#pd.merge(df_left_hr, df_right_hr, left_on='key1', right_index=True)

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [36]:
#selain merge, bisa juga menggunakan method join() dan lebih cepat
#group_data dapat null karena dalam df_right tidak ada kolm untuk memperastukannya 
df_left.join(df_right)

  key  data  group_data
0   X     0         NaN
1   Y     1         NaN
2   Z     2         NaN
3   X     3         NaN
4   Y     4         NaN

In [37]:
df_left

  key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [38]:
df_right

   group_data
X          10
Y          20

In [ ]:
#bagian join masih perlu dipelajari lebih lanjut