In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
#series itu seperti array dalam panda, bedanya series punya data label
#jika melihat output, maka yang keluar adalah index-nya juga value-nya
obj = Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
#untuk menampilkan values-nya aja
obj.values

array([1, 2, 3, 4], dtype=int64)

In [4]:
#kalau mau lihat informasi index (berbeda dengan python 2, python 3 bagian index hanya menampilkan range saja)
#asumsi: index 0 adalah start dari index tersebut, sedangkan 'stop=4' menandakan berakhirnya
#tapi index 4 tidak ada
#step artinya jarak antar satu index dengan index lainnya 
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
#casualty dari negara yang mengikuti perang dunia dua (dalam bentuk juta)
ww2_cas = Series([8.7,4.3,3,2.1,0.4], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
#index yang dibuat tidak hanya berupa nomor, tapi juga nama. Jadi, series sedikit mirip dengan dictionary
ww2_cas

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [6]:
#berbeda dengan obj, untuk array ww2_cas jika kita menggunakan method .index maka akan menampilkan daftar index, bukan informasi
ww2_cas.index

Index(['USSR', 'Germany', 'China', 'Japan', 'USA'], dtype='object')

In [7]:
#untuk melihat casualty dari negara jerman
ww2_cas['Germany']

4.3

In [8]:
#melakukan update casualty
ww2_cas['Germany'] = 3.3

In [9]:
ww2_cas['Germany']

3.3

In [10]:
ww2_cas['Germany'] = 4.3

In [11]:
#memeriksa negara mana yang memiliki casualty diatas 4jt
ww2_cas[ww2_cas > 4]

USSR       8.7
Germany    4.3
dtype: float64

In [12]:
#untuk mengetahui apakah USSR dalam Series ww2_cas
'USSR' in ww2_cas

True

In [13]:
#convert series ke dalam dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8.7, 'Germany': 4.3, 'China': 3.0, 'Japan': 2.1, 'USA': 0.4}

In [14]:
#convert back dictionary ke dalam series
ww2_series = Series(ww2_dict)
ww2_series

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [15]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [16]:
obj2 = Series(ww2_series, index=countries)
#Argentina berbentuk NaN karena tidak ada di dalam series ww2 atau ww2_series
obj2

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
dtype: float64

In [17]:
#melihat null value dari negara dalam obj2
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [18]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [19]:
ww2_series

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [20]:
obj2

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
dtype: float64

In [21]:
#series bisa ditambahkan dengan series, tapi jika ada yang memiliki nilai (seperti Argentina) dan tidak memiliki pasangan maka 
#nilainya tidak berubah
ww2_series + obj2

Argentina     NaN
China         6.0
Germany       8.6
Japan         4.2
USA           0.8
USSR         17.4
dtype: float64

In [26]:
#PERTANYAAN: BELUM MELIHAT BAGAIMANA CARA MENAMBAH JIKA ARGENTINA PUNYA VALUE DAN INDEX DI WW2_SERIES
#JAWABAN: menggunakan method append()
#akan tetapi nambah satu elemen ke dalam list secara komputasional susah (?)
#jadi lebih baik memasukkan elemen tersebut ke dalam list
ww2_cas_copy = ww2_cas.copy()
ww2_cas_copy

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [27]:
obj3 = Series([1.1], index=['Argentina'])
obj3

Argentina    1.1
dtype: float64

In [31]:
#harus disimpan, karena kalau tidak maka tidak menunjukkan apa-apa
#in-conclusion, seharusnya tidak perlu membuat copy karena perlu disimpan juga 
ww2_cas_plus = ww2_cas_copy.append(obj3)

In [30]:
#ww2_cas_copy tetap sama, walaupun di-append juga
ww2_cas_copy

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [32]:
#baru ada dalam series ww2_cas_plus karena sebelumnya sudah disimpan
ww2_cas_plus

USSR         8.7
Germany      4.3
China        3.0
Japan        2.1
USA          0.4
Argentina    1.1
dtype: float64

In [34]:
obj2

Countries
China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
Name: World War 2 Casualties, dtype: float64

In [37]:
#bentuknya masih NaN (?) mungkin karena NaN ditambah integer hasilnya NaN (?)
ww2_cas_plus + obj2

Argentina     NaN
China         6.0
Germany       8.6
Japan         4.2
USA           0.8
USSR         17.4
dtype: float64

In [23]:
#memberi nama pada series
obj2.name = "World War 2 Casualties"
obj2

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
Name: World War 2 Casualties, dtype: float64

In [24]:
#memberi nama daftar index
obj2.index.name = 'Countries'
#perintah di bawah tidak bisa
#obj2.values.name = 'Casualties'
obj2

Countries
China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
Name: World War 2 Casualties, dtype: float64