In [1]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
#menyimpan index
my_index = my_ser.index

In [4]:
#index sekarang menjadi array (?)
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [5]:
#kita bisa memanggilnya dengan menggunakan kurung siku dan nama index
#asumsi: index = array
my_index[1]

'B'

In [7]:
#apakah bisa slicing?
my_index[::-1]

Index(['D', 'C', 'B', 'A'], dtype='object')

In [9]:
my_index[2:4]
#jawabannya: bisa slicing

Index(['C', 'D'], dtype='object')

In [10]:
#my_index merupakan immutable, tidak bisa diganti
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

In [13]:
#bagaimana cara mengganti index?
#menurut dokumentasi pandas, bisa menggunakan reindex

#tapi setelah dicoba (my_ser.reindex(new_index)), ternyata tidak berpengaruh. 
#menurut website GeeksForGeeks, tinggal didefinisikan ulang=> my_ser.index = new_index 

new_index = ['E', 'F', 'G', 'H']
my_ser.index = new_index
my_ser

E    1
F    2
G    3
H    4
dtype: int64

In [14]:
#ada cara reindex lain(?), sekarang kita masuk lecture baru di Udemy, subbab: Reindexing

## Reindex

In [15]:
from numpy.random import randn

In [16]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [20]:
#ser1.reindex berhasil menampilkan index baru
ser1.reindex(['A','B','C','D','E','F'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [21]:
#tapi reindex tidak menyimpan index baru tersebut di ser1
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
#oleh karena itu, kita harus menyimpan reindex tersebut di dalam variabel baru
#itulah kenapa reindex tidak berhasil diatas, terutama ketika saya buat seperti ini: 
#ser1.reindex([____])
#ser1
#malah menampilkan ser1 dengan index yang lama

ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [39]:
#setelah reindex dan menambah index baru, kemudian ditambah atribut/key (?) baru dengan nama fill_value=0
#hanya ditujukan kepada value yang indexnya baru yaitu G
#dan index E & F masih tetap NaN, karena sebelumnya sudah ada 
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [29]:
ser3 = ser2.copy()
#dari copy sudah kelihatan bahwa reindex tersebut tidak disimpan di dalam ser2
ser3

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [36]:
ser3 = ser2.copy()
ser3

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [38]:
#mengubah index A menjadi X dan menambah index G
ser3.reindex(['X','B','C','D','E','F','G'], fill_value = 0)
#bisa mengubah index dan mengisi value tersebut di dalam fill_value

#berarti reindex bukan cuma mengubah index tsb, tapi bisa juga mengganti index tersebut beserta value di dalamnya

X    0.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [40]:
countries = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
countries

0        USA
5     Mexico
10    Canada
dtype: object

In [42]:
#membuat list range, dengan nama ranger
ranger = range(15)
ranger

#tapi di python3 tidak bisa (?), bukan menampilkan list berisi 0-14 tapi hanya menampilkan objek (?) range(0,15)

range(0, 15)

In [44]:
#cuma kalau kita memanggil ranger[2] hasilnya masih tetap sama, akan muncul dua juga
#mungkin tetap stick with ranger saja, dengan asumsi ranger di sini juga sebenarnya merupakan list dari range dari 0-14
ranger[2]

2

In [47]:
#value yang sudah ada tidak akan terganti
countries.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [51]:
#confirmed. index yang sudah ada, tidak akan terganti
ser3.reindex(['X','B','G','H','I','J'])

X    NaN
B    2.0
G    NaN
H    NaN
I    NaN
J    NaN
dtype: float64

In [67]:
#hmm, ketika kita memasukkan A lagi, A ternyata mempunyai index
ser3.reindex(['A'])

A    1.0
dtype: float64

In [68]:
ser3_baru = ser3.reindex(['A'])
ser3_baru

A    1.0
dtype: float64

In [72]:
#ganti index masih tetap dengan cara yang sama 
ser3_baru['A'] = 22
ser3_baru

A    22.0
dtype: float64

In [73]:
ser3.reindex(['A','B','C','D','E','F','G','H','I','J','X'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
H    NaN
I    NaN
J    NaN
X    NaN
dtype: float64

In [53]:
#method ffill mengisi index yang valuenya NaN dengan value sebelumnya yang ada 
#kemudian menggantinya lagi ketika sudah ada index lain yang sudah ada value
countries.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [55]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.164766 -1.032283 -1.269245 -0.629114 -0.133637
B  0.087334 -1.017300 -0.182044  0.121346 -0.163581
D -0.457324  0.802577  0.268426  0.503892 -2.010423
E  0.052707  0.072872 -1.481913 -1.427679  0.234209
F  0.994003  1.528503  0.571388 -0.001993 -1.457439

In [59]:
#saya penasaran, apa yang akan terjadi kalau saya membuat randn.reshape saja, ternyata outputnya merupakan array dan matrix 5x5
#mungkin sebelumnya sudah pernah dibuat, cuma saya lupa

#reshape((__)) dan reshape() tidak ada beda untuk value dua dimensi
randn(25).reshape(5,5)

array([[ 1.73134557, -0.46545977,  0.53397299, -0.59214507, -0.22838878],
       [ 0.38880255,  0.97732001, -0.43743064,  0.80920554, -1.69411591],
       [ 0.13526289, -0.51056348, -0.55728554,  0.06486618, -0.95035096],
       [-0.44484154,  0.12662249, -2.26266668, -1.24867381, -0.72362502],
       [-0.80745689,  1.08618922,  0.50494342,  2.33434325,  1.10569814]])

In [63]:
#reshape(([__])) dan reshape([___]) juga tidak ada beda untuk matrix tiga dimensi
randn(25).reshape(5,5,1)

array([[[ 0.02546335],
        [-1.22513955],
        [-0.8325453 ],
        [ 1.04681193],
        [-1.08317235]],

       [[-0.1384419 ],
        [-2.25337944],
        [ 0.79756319],
        [ 1.99227875],
        [-1.50269476]],

       [[ 1.13675828],
        [-0.10597015],
        [ 0.97617172],
        [-0.27251598],
        [-1.63423683]],

       [[-0.85962308],
        [-0.09819052],
        [-1.69170094],
        [ 0.97302895],
        [ 0.51407597]],

       [[-2.15428906],
        [ 0.66529591],
        [ 0.69847283],
        [-2.38676076],
        [-0.52448236]]])

In [65]:
#lanjut ke dframe
#reindex menambah index C
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2
#hasilnya akan menambah baris baru

       col1      col2      col3      col4      col5
A  0.164766 -1.032283 -1.269245 -0.629114 -0.133637
B  0.087334 -1.017300 -0.182044  0.121346 -0.163581
C       NaN       NaN       NaN       NaN       NaN
D -0.457324  0.802577  0.268426  0.503892 -2.010423
E  0.052707  0.072872 -1.481913 -1.427679  0.234209
F  0.994003  1.528503  0.571388 -0.001993 -1.457439

In [66]:
new_columns = ['col1','col2','col3','col4','col5','col6']

#reindex dengan membuat columns
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.164766 -1.032283 -1.269245 -0.629114 -0.133637   NaN
B  0.087334 -1.017300 -0.182044  0.121346 -0.163581   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.457324  0.802577  0.268426  0.503892 -2.010423   NaN
E  0.052707  0.072872 -1.481913 -1.427679  0.234209   NaN
F  0.994003  1.528503  0.571388 -0.001993 -1.457439   NaN

In [77]:
#reindexing using .ix atau dalam python3, using loc

#ternyata menggunakan loc tidak bisa 
#ternyata cara menggunakan loc tidak bisa


#dframe.loc[['A','B','C','D','E','F'], columns = new_columns]

In [90]:
#alternatif dari menggunakan .ix yang sudah deprecated adalah menggunakan .loc
#contohnya seperti ini:
dframe.loc[['A','B','C','D','E','F'], new_columns]
#cuma akan muncul warning karena akan deprecated dan KeyError
#sistem memberikan alternatif .reindex()

#pertanyaan: lantas, bagaimana cara cepat untuk memasukkan row dan kolom secara bersamaan (?)
#jawaban sementara: tidak bisa, selama ada missing label, oleh karena itu harus selalu menggunakan reindex (?)

#asumsi: missing label adalah label baru seperti baris C (?) dan beda dengan missing value
#perlu dipelajari dan ditelusuri lagi [BELUM SELESAI]

       col1      col2      col3      col4      col5  col6
A  0.164766 -1.032283 -1.269245 -0.629114 -0.133637   NaN
B  0.087334 -1.017300 -0.182044  0.121346 -0.163581   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.457324  0.802577  0.268426  0.503892 -2.010423   NaN
E  0.052707  0.072872 -1.481913 -1.427679  0.234209   NaN
F  0.994003  1.528503  0.571388 -0.001993 -1.457439   NaN

In [87]:
#iloc tidak bisa, karena index berbentuk label
#iloc hanya bisa index yang berbentuk integer
dframe.iloc['A']

TypeError: Cannot index by location index with a non-integer key